window._env_ = {
  REACT_APP_API_BASE:"${REACT_APP_API_BASE}",
  API_URL:"${API_URL}",
  API_PORT:"${API_PORT}",
  REACT_APP_HOST_IP_ADDRESS:"${REACT_APP_HOST_IP_ADDRESS}",
  REACT_APP_PORT:"${REACT_APP_PORT}",
  REACT_WEB_HOST_IP_ADDRESS:"${REACT_WEB_HOST_IP_ADDRESS}",
  NODE_ENV:"${NODE_ENV}",
  SCHEME:"${SCHEME}",
  REACT_APP_VERSION:"${REACT_APP_VERSION}",
}
